button{
    background-color: brown;
    color: white;
    width: 200px;
    border-radius: 5px;
    border: solid 2px rgb(24, 240, 226);
}

button:hover{
    background-color: aquamarine;
    color: black;
    border-color: brown;
}

/* p:hover{
    background-color: chocolate;
    cursor: pointer;
} */

input:focus{
    background-color: crimson;
}

li:nth-child(3){
    border: 1px solid orange;
}

#P2::after{
    content: " - aqui nos addemos o after";
    border: 1px dotted black;
}

#P2::before{
    content: "aqui addemos o before - ";
    border: solid 2px red;
}

.P3::first-letter{
    font-size: 4em;
    color: purple;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}

.P3::first-line{
    background-color: rgb(54, 217, 17);
    color: white;
}

::selection{
    background-color: black;
    color: greenyellow;
}


/* 
Empresa propria OU Prestadora de serviços

Historia
Missao, Visao, Valores
Identidade visual(Logo, cores)
ODS
Analise Swoat(Fofa)
Nome da empresa


Opcional
Falar sobre as cores das empresa
*/